<template>
    <el-form label-width="120px" label-position="top">
        <el-row :gutter="20">
            <el-col :span="8">
                <el-form-item required :error="channelStore.errors.name" label="Nombre">
                    <el-input v-model="channelStore.channel.name" />
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item required :error="channelStore.errors.id" label="Channel ID">
                    <el-input v-model="channelStore.channel.id" />
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item required :error="channelStore.errors.clientId" label="Client ID">
                    <el-input v-model="channelStore.channel.clientId" />
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item required :error="channelStore.errors.clientSecret" label="Client Secret">
                    <el-input v-model="channelStore.channel.clientSecret" />
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item required :error="channelStore.errors.grantType" label="GrantType">
                    <el-input v-model="channelStore.channel.grantType" />
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item required :error="channelStore.errors.scope" label="Scope">
                    <el-input v-model="channelStore.channel.scope" />
                </el-form-item>
            </el-col>
        </el-row>

        <el-row :gutter="20" justify="end">
            <el-col :span="8">
                <el-form-item>
                    <el-col :span="12">
                        <el-form-item>
                            <el-button type="primary" class=" w-100"  @click="channelStore.saveChannel()">Guardar</el-button>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item>
                            <el-button type="danger" class="w-100" @click="channelStore.resetChannel()">Cancelar</el-button>
                        </el-form-item>
                    </el-col>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
</template>

<script lang="ts" setup>
import { useChannelStore } from '../../store/channelStore'

const channelStore = useChannelStore();
</script>