<template>
    <el-dialog v-model="channelStore.dialog" title="DELETE" width="30%">
        <span>Esta por eliminar este campo, ¿está seguro?</span>
        <template #footer>
            <span class="dialog-footer">
                <el-button type="danger" @click="channelStore.dialog = false">Cancelar</el-button>
                <el-button type="primary" class="bg-pink-price"  @click.prevent="removeChannel(channelStore.selectedToRemove)">
                    Confirmar
                </el-button>
            </span>
        </template>
    </el-dialog>
    <el-table :data="channelStore.channels" border="true">
        <el-table-column label="Activo" width="70px">
            <template #default="scope">
                <el-switch @change="changeChannel(scope.row)" v-model="scope.row.estado" />
            </template>
        </el-table-column>
        <el-table-column prop="id" width="100px" label="Channel ID" />
        <el-table-column prop="name" label="Nombre" />
        <el-table-column prop="grantType" label="Grant Type" />
        <el-table-column prop="scope" label="Scope" />
        <el-table-column prop="estado" label="Estado" />
        <el-table-column width="60px">
            <template #default="scope">
                <el-button @click.prevent="(channelStore.dialog = true)" @click="channelStore.selectedToRemove = scope.row.id" type="danger" size="small">x</el-button>
            </template>
        </el-table-column>
    </el-table>
</template>

<script lang="ts" setup>
import { channel } from 'diagnostics_channel';
import { Channel } from '../../interfaces/channel';
import { useChannelStore } from '../../store/channelStore'

const channelStore = useChannelStore();
channelStore.loadChannels();

const removeChannel = (channel: number)=> {
    channelStore.removeChannel(channel);
}
const changeChannel = (channel: Channel) => {
    channelStore.updateChannel(channel);
}
</script>
<style>
.ep-table__header,
.ep-table__body,
.ep-table__footer {
    max-width: 100%;
}
</style>