<template>
    <el-config-provider namespace="ep">
        <BaseHeader />
        <div style="display:flex">
            <div>
                <BaseSide />
            </div>
            <div class="contenedor">
                <router-view></router-view>
            </div>
        </div>
    </el-config-provider>
</template>

<style>
.contenedor {
    width: 100%;
}

.bg-pink-price {
    background-color: #ea0074 !important;
    border: #ea0074 !important;
}
</style>
