<template>
    <el-card class="box-card">
        <template #header>
            <div class="card-header">
                <span>Nuevo canal</span>
            </div>
        </template>
        <Form></Form>
    </el-card>
    <el-card class="box-card">
        <template #header>
            <div class="card-header">
                <span>Listado de canales</span>
            </div>
        </template>
        <List></List>
    </el-card>
</template>

<script lang="ts">
    import Form from '../components/channel/Form.vue';
    import List from '../components/channel/List.vue';
</script>

<style>
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .box-card {
        margin: 16px ;
    }
</style>