<template>
    <el-card class="box-card">
        <template #header>
            <div class="card-header">
                <span>Nueva cotización</span>
            </div>
        </template>
        <FormQuote></FormQuote>
    </el-card>
    <el-card class="box-card">
        <template #header>
            <div class="card-header">
                <span>Listado de cotizaciones</span>
            </div>
        </template>
        <ListQuote></ListQuote>
    </el-card>
</template>


<script lang="ts">
import FormQuote from '~/components/quote/FormQuote.vue';
import ListQuote from '~/components/quote/ListQuote.vue';
</script>

<style>
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>